body {
    margin: 0;
}

.card {
    width: 500px;
    height: fit-content;
    background-color: aqua;
    margin: 10px;
    font-family: cursive;
}

.borda-card {
    border: 3px solid #18b948;
}

.perfil {
    width: 100px;
    height: 100px;
    background-color: bisque;
}

.icon {
    width: 100%;
    height: 100%;
}

h1 {
    color: bisque;
}

p {
    color: blueviolet;
}

span {
    color: black;
}